
{% for user in users %}
    <tr class="row-field">
        <td class="action-checkbox">
            <input type="checkbox" name="selected_action"
                value="{{ user.id }} " class="action-select">
        </td>
        <td class="field">
            <a class="btn-link" href="{% url 'user_detail' user.id %}">
                {{ user }} 
            </a>
        </td>
        <td class="action-checkbox">
            {% if user.profile.phone %}
                {{ user.profile.phone }} 
            {% else %}
                <p style="color: red;">
                    merci de mettre le profile à jour
                </p>
            {% endif %}
        </td>
    </tr>
{% endfor %}
    
