<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col" class="action-checkbox-column">
                <div class="text">
                    <span>
                        <input type="checkbox" id="action-toggle">
                    </span>
                </div>
                <div class="clear"></div>
            </th>
            <th scope="col">Nom et prenom</th>
            <th scope="col">Sexe</th>
        </tr>
    </thead>
    <tbody>
        <div class="spinner" id="spinner">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        {% include 'pages/participant/table_participant.html' %}
    </tbody>
    <div id="empty-result"></div>
</table>