{% extends 'base.html' %}


{% block titre %}
ASSEMBLE EAUX PAISIBLES | Evangélisations | comptes
{% endblock titre %}


{% block hamburger %}
    <div class="menu-btn">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
    </div>
{% endblock hamburger %}


{% block sidebar %}
    {% include 'layouts/_sidebar.html' %}
{% endblock sidebar %}



{% block content %}
    <div class="wrapper-liste">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-text-reset-passe">
                    <h2>vous pouvez maintenant vous connectez avec votre nouveau mot de passe</h2>
                    <a class="btn btn-link" href="{% url 'user_login' %}">Se connecter</a>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}