{% extends 'base.html' %}


{% block titre %}
ASSEMBLE EAUX PAISIBLES | Evangélisations | comptes
{% endblock titre %}


{% block hamburger %}
    <div class="menu-btn">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
    </div>
{% endblock hamburger %}


{% block sidebar %}
    {% include 'layouts/_sidebar.html' %}
{% endblock sidebar %}



{% block content %}
    <div class="wrapper-head-liste">
        <div class="head-liste">
            <h2>
                Changer votre mot de passe
            </h2>
            <h4>Comptes</h4>
        </div>
    </div>
    <div class="wrapper-liste">
        <div class="row">
            <div class="col-md-2">
                {% include 'partials/user-side-bar-link.html' %}
            </div>
            <div class="col-md-8">
                <div class="wrapper-form">
                    {% if messages %}
                        {% include 'partials/messages_request.html' %}
                    {% endif %}

                    {% if has_error %}
                    <ul class="form_erros">
                        {{ errors }}
                    </ul>
                    {% endif %}

                    <form action="{% url 'password_change' %}" method="post" enctype="multipart/form-data">
                        
                        {% csrf_token %}
                        {% include 'formulaire/form.html' %}

                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-success btn-with-form btn-sm">Mettre à jour</button>
                            <a class="btn btn-secondary btn-sm btn-with-form" href="{% url 'user_detail' %}">Annuler</a>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
{% endblock content %}