
{% extends 'registration/base_reset_pass.html' %}
{% load widget_tweaks %}

{% block titre %}
ASSEMBLE EAUX PAISIBLES | Evangélisations | Mot de passe oublier?  
{% endblock titre %}


{% block item %}
<p>Veuillez entrer votre E-mail (celui de votre compte) pour obtenir votre mot de passe</p>
{% for field in form %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="{{ field.id_for_label }}">
        {% if field.label == 'Courriel' %}
            Votre email *
        {% endif %}
    </label>
    {% render_field field class="form-control" %}
    <small class="form-text text-muted">{{ field.help_text|safe }}</small>
    {% for error in field.errors %}
        <p class="help-block">
            {{ error }}
        </p>
    {% endfor %}
</div>
{% endfor %}
{% endblock item %}
    


{% block reset-btn %}
    <button type="submit" class="btn btn-success btn-sm">Envoyer l'email</button>
    <a href="{% url 'user_login' %}" class="btn btn-secondary btn-sm mt-1">Annuler</a>
{% endblock reset-btn %}
